body {
	padding-top: 50px;
	padding-bottom: 200px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.player_container {
	padding: 10px;
	text-align: center;
}
.audio_player {
	width: 100%;
	display: none;
}
.odd {
	background: #fdefd6;
}
.even {
	background: #fbc4b4;
}
.player_control_img {
	width: 64px;
	height: 64px;
}
.player_control{

}
.show{
	font-size: 50px;
}