body {
	padding-top: 50px;
	padding-bottom: 200px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.player_container {
	text-align: center;
}
.audio_player {
	width: 100%;
}
.odd
{
	background: #fdefd6;
}
.even
{
	background: #fbc4b4;
}